---
import blogs from '../data/blogs.json';
---

<style>
  .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limita el texto a 3 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Agrega los puntos suspensivos (...) */
}
</style>

<section class="container py-5">
    <h2 class="mb-4">New Blogs</h2>
    <div class="row">
      {blogs.map(blog => (
        <div class="col-md-6 col-lg-3 mb-5">
          <div class="rounded h-100">
            <img src={blog.image} class="card-img-top rounded" alt={blog.title} />
            <div class="card-body">
              <div class="mt-2 mb-2 d-flex flex-row justify-content-between" style="font-size: 14px; color: gray">
                <strong>{blog.date}</strong>
                <p>{blog.time}</p>
              </div>
              <h5 class="card-title">{blog.title}</h5>
              <p class="mt-2 card-text text-secondary">{blog.description}</p>
            </div>
            <div class="card-footer d-flex flex-row justify-content-start mt-2">
              <p> Publicado por {blog.author} </p>
            </div>
            <a href={`/blog/${blog.id}`}>
              <button class="btn btn-outline-primary w-100"> Leer artículo  </button>
            </a>
          </div>
        </div>
      ))}
    </div>
  </section>



  
